<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alunos</title>
    </head>
  
  <body>
    <app-toolbar></app-toolbar>

    <div>
        <app-alunos [valorInicial]="valor"></app-alunos>

      <button mat-raised-button color="primary" (click)="mudarValor()">Mudar Valor</button>
      <button mat-raised-button color="accent" (click)="reiniciarValor()">Reiniciar Valor</button>
      <button mat-raised-button color="warn" (click)="exibirTabela()">Exibir Tabela</button>
    </div>

  <table *ngIf="exibiTabela">
      <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Email</th>
          <th>Curso</th>
      </tr>
      <tr *ngFor='let aluno of listaAlunos'>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.idade }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.curso }}</td>
      </tr>
  </table>

  

 <a href="/professores">Visualizar professores dos cursos</a>

</body>
</html>
